################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAppHello/WebAppHello/bin/Debug/netcoreapp2.1
/WebAppHello/WebAppHello/obj
/WebAppHello/.vs
/AspCoretoGit/.vs
/AspCoretoGit/AspCoretoGit/bin/Debug/netcoreapp2.1
/AspCoretoGit/AspCoretoGit/obj
